<div id="content">
  <li>
    {{#link-to 'question' question.id}}
      <h2>{{question.userQuestion}}</h2>
    {{/link-to}}
    <p id="cards">{{question.author}} <span id="from">//</span> {{question.city}}</p>
  </li>
</div>
